.place__image {
   width: 100%;
   max-height: 460px;
   box-sizing: border-box;
}

@media screen and (max-width: 1025px) {
   .place__image {
      max-height: 440px;
   }
}

@media screen and (max-width: 600px) {
   .place__image {
      max-width: 484px;
      margin: auto;
   }
}
