.cover__subtitle {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.22;
   text-align: center;
   max-width: 360px;
   margin: 32px 0 0 0;
   position: absolute;
   left: 412px;
   bottom: 245px;

}