.footer__copyright {
   margin: 0;
   padding: 0;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.14;
   align-self: flex-end;
   display: block;
}

@media screen and (max-width: 720px) {
   .footer__copyright {
      font-size: 12px;
      display: block;
   }
}

@media screen and (max-width: 425px) {
   .footer__copyright {
      font-size: 14px;
      align-self: flex-start;
      margin-top: 48px;
   }
}