.lead__subtitle {
   margin: 0 0 64px;
   max-width: 640px;
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 1.25;
   text-align: center;
}

@media screen and (max-width: 1025px) {
   .lead__subtitle {
      margin: 0 0 56px;
   }
}

@media screen and (max-width: 688px) {
   .lead__subtitle {
      max-width: 388px;
      font-size: 22px;
   }
}

@media screen and (max-width: 580px) {
   .lead__subtitle {
      max-width: 340px;
      font-size: 18px;
      margin: 0 0 40px;
   }
}

@media screen and (max-width: 370px) {
   .lead__subtitle {
      max-width: 288px;
      font-size: 16px;
   }
}