.place__link {
   font-weight: 400;
   font-size: 18px;
   line-height: 1.2;
   text-decoration-line: underline;
   color: #fff;
   margin: 0;
   padding: 0;
}

@media screen and (min-width: 769px) {
   .place__link:hover {
      display: inline-block;
      opacity: 0.8;
      cursor: pointer;
   }
}