.cover__overlay {
   background-color: #2A2C2F;
   opacity: 0.8;
}

.cover__link:hover .cover__overlay {
   background-color: #2A2C2F;
   opacity: 0.3;
   
}

/*
@media screen and (max-width: 768px) {
   .cover__link:hover .cover__overlay {
      
   }
}
*/