.place {
   display: grid;
   grid-template-columns: 47.5% 49.1%;
   grid-auto-rows: minmax(35px, auto);
   column-gap: 3.4%;
   row-gap: 48px;
}

@media screen and (max-width: 620px) {
   .place {
      grid-template-columns: 44.5% 52.1%;
      row-gap: 32px;
   }
}

@media screen and (max-width: 500px) {
   .place {
      grid-template-columns: 1fr;
   }
}