.footer {
   max-width: 1184px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: auto;
   padding-bottom: 24px;
   padding-left: 48px;
   padding-right: 48px;
}

@media screen and (max-width: 1024px) {
   .footer {
      max-width: 928px;
   }
}

@media screen and (max-width: 825px) {
   .footer {
      padding-left: 24px;
      padding-right: 24px;
   }
}

@media screen and (max-width: 425px) {
   .footer {
      min-height: 310px;
      padding-left: 16px;
      flex-direction: column;
   }
}