.intro__title {
   font-style: normal;
   font-weight: 900;
   font-size: 54px;
   line-height: 1.07;
   max-width: 690px;
   min-width: 288px;
   margin: 0px;
   padding-bottom: 40px;
}

@media screen and (max-width: 710px) {
   .intro__title {
      font-size: 46px;
   }
}

@media screen and (max-width: 320px) {
   .intro__title {
      font-size: 32px;
   }
}